.calculator {
    padding: 1em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    border: .125em solid var(--black);
    border-radius: 10px;
    position: relative;
}

.calculator::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-color);
    z-index: -1;
    opacity: .8;
}

.title {
    font-size: .75rem;
    margin-bottom: .75em;
}

.display {
     font-family: var(--main-font);
     padding: .5em .5em 0 0;
     text-align: right;
     background-color: var(--display-color);
     border: .125em solid var(--black);
     border-radius: 5px;
}

.previous-operation,
.current-operation {
    overflow-wrap: break-word;
    min-height: 1.75em;
    font-size: 1rem;
}

.current-operation {
    font-weight: 800;
}

.buttons-container {
    padding: .75em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .175em;
}

.buttons-container button {
    height: 3em;
    font-size: 1.25rem;
    font-family: var(--main-font);
    font-weight: 400;
    cursor: pointer;
    border-radius: 50px;
}

.operation {
    background-color: var(--btn-green);
    font-weight: 800;
    border: .125em solid var(--operation-active);
}

.operation:hover {
    background-color: var(--operation-active);
}

.number {
    background-color: var(--number-color);
    border: .125em solid var(--number-active);
}

.number:hover  {
    background-color: var(--number-active);
}

.btn-equals {
    grid-column: span 2;
    background-color: var(--display-color);
}

.btn-equals:hover {
    background-color: var(--blue);
}

@media screen and (min-width: 768px) {
    .title {
        font-size: .95rem;
    }

    .previous-operation,
    .current-operation {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .calculator {
        border: .15em solid var(--black);
    }

    .title {
        font-size: 1rem;
    }

    .previous-operation,
    .current-operation {
        font-size: 1.25rem;
    }

    .buttons-container button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .calculator {
        border: .2em solid var(--black);
    }

    .title {
        font-size: 1.25rem;
    }

    .previous-operation,
    .current-operation {
        font-size: 1.5rem;
    }

    .buttons-container button {
        font-size: 1.75rem;
    }
}